{% extends "base.html" %}

{% block content %}
  <h2>Editar Reserva</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
      {{ form.admin_name.label }}<br>
      {{ form.admin_name(size=32) }}
    </p>
      <p>
      {{ form.date.label }}<br>
      {{ form.date() }}
    </p>
    <p>
      {{ form.start_time.label }}<br>
      {{ form.start_time() }}
    </p>
    <p>
      {{ form.court_id.label }}<br>
      {{ form.court_id() }}
    </p> 
    <p>
      {{ form.is_paid.label }}<br>
      {{ form.is_paid() }}
    </p>
    <p>
      {{ form.payment_amount.label }}<br>
      {{ form.payment_amount() }}
    </p>
    <p>
      {{ form.comments.label }}<br>
      {{ form.comments(rows=5) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
