{% extends "base.html" %}
{% block content %}
    <h1>Mis Reservas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora de inicio</th>
                <th>Hora de fin</th>
                <th>Cancha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.start_time }}</td>
                    <td>{{ reservation.end_time }}</td>
                    <td>{{ reservation.court.name }}</td>
                    <td>
                        <a href="{{ url_for('edit_reservation_user', reservation_id=reservation.id) }}">Editar</a>
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
